{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<style type="text/css">
    /* main의 margin-left 값은 (.left의 width + 20px) */
    main {
        margin-top: 30px;
        margin-left: 350px;
    }
</style>
{% endblock %}

{% block main-content %}
<main>
<h1>User password change</h1>
<form method="POST">
    {% csrf_token %}
    {{ password_change_form }}
    <input type="submit" value="submit"/>
</form>
</main>
{% endblock %}