<!--TODO: 멤버들 보여줄 때 해당 글자수 넘어가면 "..." 붙이기-->
<!--TODO: form 유효성 검사 안함(그룹명 썼는지, 한명 이상 체크했는지)-->
{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<style type="text/css">
    /* main의 margin-left 값은 (.left의 width + 20px) */
    main {
        margin-top: 30px;
        margin-left: 350px;
    }

    figure {
        font-size: 0.9rem;
    }
    figure img {    
        width: 25px;
        height: 25px;
    }
    figure input[type="checkbox"] {
        position: absolute;
        right: 0;
    }
    .overlay {
        display: none;
        z-index: 999;
        position: fixed;
        width: 100%; height: 100%;
        left: 0; top: 0;
        background-color: rgba(0,0,0, 0.4);
        overflow-x: hidden;
    }
    input {
        border-radius: 10px;
        border: 1px solid #000;
        background-color: #FCFCFB;
        padding: 7 15 7 15;
        font-size: 13px;
    }
    .description {
        margin-top: 15;
        display: block;
        padding: 10 0;
        font-size: 0.9rem;
        text-align: center;
    }

    /* swiper */
    .all_slide {    /* 슬라이드, 이전/다음 버튼, 페이지 버튼을 포함한 모든 영역 */
        width: 100%;
        height: 150px;
        margin: 0 auto;
        position: relative;
    }
    .swiper-container { /* 슬라이드와 페이지 버튼을 포함한 영역 */
        width: 85%;
    }
    .swiper-button-prev, .swiper-button-next {  /* 이전, 다음 버튼 */
        background-color: rgba(255, 255, 255, 0.5);
        right:10px;
        padding: 30px;
        margin-top: -50px;
        color: purple !important;
        fill: purple !important;
        stroke: purple !important;
    }
    .swiper-pagination-bullet {     /* 페이지 버튼 */
        width: 40px; 
        height: 3px; 
        border-radius: 5px; 
        background: transparent; 
        border: 1px solid #8E44AD; 
        opacity: 1; 
    }
    .swiper-pagination-bullet-active {  /* 페이지 버튼(해당 페이지일 때) */
        width: 40px; 
        height: 3px; 
        transition: width .5s; 
        border-radius: 5px; 
        background: #8E44AD; 
        border: 1px solid transparent; 
    }

    /* 그룹 세부 CSS */
    #groups {
        height: 150px;
        margin-top: 30px;
        margin-left: 7%;
    }
    #groups .each {
        display: inline-block;
        height: 100px;
        border: 1px solid purple;
        padding: 20px;
        border-radius: 20px;
        color: purple;
        text-align: center;
    }
    #groups .group {
        background-color: #8E44AD;
        color: white;
        text-align: left;
    }
    #groups #group_add_btn img {    /* 그룹 추가 버튼 */
        width: 33px;
        height: 33px;
        vertical-align: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    #groups .group_number { /* 그룹별 멤버 수 텍스트 */
        font-size: 0.8rem;
    }
    #groups .group_member { /* 그룹별 멤버 텍스트 */
        font-size: 0.7rem;
        display: block;
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 15px;
    }
    #groups .group_setting_btn {    /* 그룹 수정 텍스트 버튼 */
        width: 40px;
        height: 20px;
        line-height: 10px;
    }
    #groups .group_setting_mode {   /* 그룹 수정모드일 때 */
        padding: 10 15;
        background-color: white;
    }
    #groups .group_setting_mode .back_button img {  /* 수정모드-뒤로가기 */
        width: 20px;
        height: 15px;
    }
    #groups .group_setting_mode .group_name {   /* 수정모드-그룹명 */
        color: purple;
        display: inline-block;
        margin-bottom: 15px;
    }
    #groups .group_setting_mode .edit_btn,  /* 수정모드-수정 버튼 */
    #groups .group_setting_mode .delete_btn{/* 수정모드-삭제 버튼 */
        color: white;
        font-size: 0.8rem;
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
    }
    #groups .group_setting_mode .edit_btn {     /* 수정모드-수정 버튼 */
        background-color: #E3C118;
        margin-bottom: 3px;
    }
    #groups .group_setting_mode .delete_btn {   /* 수정모드-삭제 버튼 */
        background-color: #E31818;
    }


    /* 친구 세부 CSS */
    #friend_title {
        margin: 20 0;
    }
    #friend #request, #inquire {
        width: 40%;
        margin: 0 30;
    }
    #friend #request_to_friend, /* 내가 보낸 친구 요청 영역 */
    #friend #request_to_me {    /* 나에게 온 친구 요청 영역 */
        width: 100%;
        min-width: 300px;
        height: 120px;
        overflow: auto;
        border: 1px solid;
        border-radius: 20px;
        padding: 15 20 10 20;
        margin-bottom: 30px;
    }
    #friend #friend_add_btn img {   /* 친구 추가 버튼 이미지 */
        width: 30px;
        height: 30px;
    }
    #friend .request_accept_btn,    /* 친구 요청 수락 버튼 */
    #friend .request_reject_btn {   /* 친구 요청 거절 버튼 */
        color: white;
        width: 50px;
        height: 20px;
        font-size: 0.6rem;
    }
    #friend .request_accept_btn {   
        background-color: #07C55B;
    }
    #friend .request_reject_btn {   
        background-color: #E31818;
    }
    #friend .request_accept_btn:hover,
    #friend .request_reject_btn:hover {
        opacity: 0.6;
    }

    #friend #friend_inquire { /* 친구 조회 영역 */
        width: 100%;
        min-width: 300px;
        height: 310px;
        overflow: auto;
        border: 1px solid;
        border-radius: 20px;
        padding: 15 20 10 20;
    }
    #friend #friend_search_btn{
        position: relative;
    }
    #friend #friend_search_btn input[name="friend_name"] {  /* 친구 조회 검색 창 */
        width: 230px;
    }
    #friend #friend_search_btn img,
    #friend_search_modal #Mfriend_search_btn img {  /* 친구 요청 모달창 안에 있는 검색 이미지 */
        position: absolute;
        top: 10px;
        right: 10px;
        width: 16px;
    }
    #friend #friends_list { /* 친구 조회의 친구 목록 */
        overflow: auto;
        height: 220px;
        width: 100%;
        
    }
    #friend #friend_inquire .description {
        margin-top: 110;
    }

    /* 친구 요청과 친구 조회 부분을 위한 flex */
    .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .flex-item {
        flex-basis: 40%;
    }

    /* 모달창 닫기 버튼 */
    .modal_close {
        width: 10px;
        height: 10px;
        color: black;
        background-color: white;
    }
    .modal_close img{
        width: 15px;
        height: 15px;
    }

    /* 친구 찾기 모달창 */
    #friend_search_modal,
    #group_add_modal {
        position: fixed;
        width: 500px;
        height: 500px;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -250px;
        background-color: white;
        padding: 15 30;
        border-radius: 20px;
        z-index: 1000;
    }
    #friend_search_modal .title,
    #group_add_modal .title {
        font-weight: bold;
    }
    #friend_search_modal #Mfriend_search_btn {
        position: relative;
        top: 10px;
    }
    #friend_search_modal #Mfriend_search_btn input[name="friend_username"] {
        width: 100%;
    }
    #friend_search_modal #Mfriends_list {
        margin-top: 45px;
        height: 305px;
        overflow: auto;
    }
    #friend_search_modal .add_user_btn {
        margin-right: 10;
        width: 20px;
        height: 20px;
    }

    /* 그룹 생성 모달창 */
    #group_add_modal #form_add_group {
        position: relative;
    }
    #group_add_modal .label {
        color: #33AD8E;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 10px;
    }
    #group_add_modal #group_member_count {
        position: absolute;
        right: 0;
        font-size: .8rem;
    }
    #group_add_modal #friends_list_forcheck {
        position: relative;
        height: 250px;
        overflow: auto;
    }
    #group_add_modal form button[type="submit"] {
        margin-top: 10px;
        background-color: #33AD8E;
    }
    
    /* 스크롤 바 커스텀 디자인 */
    ::-webkit-scrollbar { width: 5.2px; } /* 스크롤 바 */
    ::-webkit-scrollbar-track { background-color:#fff; } /* 스크롤 바 밑의 배경 */
    ::-webkit-scrollbar-thumb { background: #ddd; border-radius: 10px; } /* 실질적 스크롤 바 */
    ::-webkit-scrollbar-thumb:hover { background: #404040; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
    ::-webkit-scrollbar-thumb:active { background: #808080; } /* 실질적 스크롤 바를 클릭할 때 */
    ::-webkit-scrollbar-button { display: none; } /* 스크롤 바 상 하단 버튼 */

    /* 폼의 라벨이 입력시 자동으로 위로 가도록*/
    .user-box {
        position: relative;
    }
    .user-box input {
        width: 100%;  
        padding: 10px 0;
        font-size: 16px;
        color: #000;
        margin-bottom: 15px;
        border: none;
        border-bottom: 1px solid #000;
        border-radius: 0;
        outline: none;
        background: transparent;
    }
    .user-box label {
        position: absolute;
        top:0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        font-weight: bold;
        color: #33AD8E;
        pointer-events: none;
        transition: .5s;
    }
    .user-box input:focus ~ label,
    .user-box input:valid ~ label {
        top: -20px;
        left: 0;
        font-weight: bold;
        color: #33AD8E;
        font-size: 12px;
    }
</style>
{% endblock %}

{% block main-content %}
<main>
    <!--그룹 추가 모달창-->
    <div id="group_add_modal" style="display: none;">
        <button class="modal_close float-right" onclick="doDisplay('group_add_modal')"><img src="{% static 'images/close.png' %}"></button>
        <br>
        <span class="title">그룹 추가</span>
        <br><br>
        <form id="form_add_group" method="POST" action="{% url 'createGroup' %}">
            {% csrf_token %}
            <div class="user-box">
                <input id="input_group_name" type="text" name="group_name" required="">
                <label>그룹 이름</label>
            </div>

            <div>
                <span class="label">그룹원</span>
                <span id="group_member_count">0명</span>
            </div>
            <div id="friends_list_forcheck">
                <!--각 친구의 id는 "group_friend" + uid로 설정-->
                {% for user in friend %}
                    <figure id="group_friend{{ user.uid }}">
                        <div>
                            {% if user.image %}
                            <img src="{{ user.image.url }}">&nbsp;{{ user.name }}({{ user.username }})
                            <input class="form-check-input" name="group_member" type="checkbox" value="{{ user.uid }}" onclick='getCheckedCount()'/>
                            {% else %}
                            <img src="{% static 'images/user2_icon.png' %}"/>&nbsp;{{ user.name }}({{ user.username }})
                            <input class="form-check-input" name="group_member" type="checkbox" value="{{ user.uid }}" onclick='getCheckedCount()'/>
                            {% endif %}
                        </div>
                    </figure>
                {% endfor %}
            </div>
        </form>
        <button class="float-right" onclick='checkValidation_addGroup();'>그룹 생성</button>
    </div>

    <!--친구 찾기 모달창-->
    <div id="friend_search_modal" style="display: none;">
        <button class="modal_close float-right" onclick="doDisplay('friend_search_modal')"><img src="{% static 'images/close.png' %}"></button>
        <br>
        <span class="title">친구 요청</span>
        <br><br>
        <div id="Mfriend_search_btn">
            <form id="form_search_username" method="GET" action="{% url 'searchUser' %}">
                {% csrf_token %}
                <input id="Mfriend_username" name="friend_username" type="text" placeholder="아이디를 입력하세요. (입력 값 없이 검색시 모든 사용자가 조회됩니다.)" value="{{ search_username }}" onKeypress="javascript:if(event.keyCode==13) {document.getElementById('form_search_username').submit();}" />
            </form>
            <img class="Mfriend_search_btn" src="{% static 'images/search.png' %}" onclick="document.getElementById('form_search_username').submit();"/>
        </div>
        <div id="Mfriends_list">
            {% if search_result %}
            {% for user in search_result %}
            <figure id="request_friend{{ user.uid }}">
                <div>
                    {% if user.image %}
                    <img src="{{ user.image.url }}"/>
                    {% else %}
                    <img src="{% static 'images/user2_icon.png' %}"/>
                    {% endif %}
                    &nbsp;{{ user.username }}({{ user.name }})
                    <img class="add_user_btn float-right" onclick="add_friend_request(this.parentNode.parentNode.id);" src="{% static 'images/add_user.png' %}"/>
                    <hr>
                </div>
            </figure>
            {% endfor %}
            {% endif %}
        </div>
        <form id="form_add_tempfriend" method="POST" style="display: none;" action="{% url 'requestFriend' %}">
            {% csrf_token %}
            <input id="uid_for_friend" name="uid_for_friend" value="" type="text"/>
        </form>
    </div>

    <!--그룹-->
    <section>
        <div id="group_title">
            <img class="icon" src="{% static 'images/setting.png' %}"/>
            <span>그룹 관리</span>
        </div>

        <!--swiper를 통해 슬라이드 형식으로 그룹들을 보여줌-->
        <div class="all_slide">
            <div id="groups" class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide each">
                        <a id="group_add_btn" onclick="doDisplay('group_add_modal')"><img src="{% static 'images/add_icon.png' %}"/></a>
                        <p>그룹 추가</p>
                    </div>

                    {% regroup groups_members by group as group_list %}
                    {% for group in group_list %}
                        <div id="group{{ group.grouper.gid }}" class="swiper-slide each group">
                            <div class="front">
                                <span class="group_name">{{ group.grouper.name }}</span>&nbsp<span class="group_number">({{ group.list|length }}명)</span>
                                <br>
                                <span class="group_member">
                                {% for member in group.list %}
                                    {{member.member.username}}
                                {% endfor %}
                                </span>
                                <button class="group_setting_btn float-right" onclick="groupsetting(this.parentNode.parentNode.id);">...</button>
                            </div>
                            <div class="back" style="display:none;"> 
                                <a class='back_button' onclick='groupback(this.parentNode.parentNode.id);'>
                                    <img src="{% static 'images/arrow_purple.png' %}"/>
                                </a>
                                &nbsp;
                                <span class='group_name'>{{ group.grouper.name }}</span>
                                <br>
                                <div class='edit_btn' onclick="location.href='{% url 'group_showall' group.grouper.gid %}'">자세히 보기</div>
                                <div onclick='groupdelete(this.parentNode.parentNode.id)' class='delete_btn'>삭제하기</div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- 그룹 삭제를 위한 폼-->
                    <form id="form_group_delete" method="POST" style="display:none" action="{% url 'deleteGroup' %}">
                        {% csrf_token %}
                        <input id="group_gid" name="group_gid" type="number" value=""/>
                    </form>
                </div>

                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>

    <!--친구-->
    <section>
        <div id="friend_title">
            <img class="icon" src="{% static 'images/setting.png' %}"/>
            <span>친구 관리</span>
        </div>

        <div id="friend" class="flex-container">
            <div id="request" class="flex-item">
                <div>
                    <p>
                        <span class="subtitle">내가 보낸 친구 요청</span>
                        <a id="friend_add_btn" onclick="doDisplay('friend_search_modal')"><img src="{% static 'images/add_icon.png' %}" class="float-right"/></a>
                    </p>
                    <div id="request_to_friend">
                        <!--내가 보낸 친구 요청의 id는 "to_friend" + uid로 설정-->
                        {% for user in request_to_friend %}
                        <figure id="to_friend{{ user.receive_user.uid }}">
                            <div>
                                {% if user.receive_user.image %}
                                <img src="{{ user.receive_user.image.url }}"/>
                                {% else %}
                                <img src="{% static 'images/user2_icon.png' %}"/>
                                {% endif %}
                                &nbsp;{{ user.receive_user.name }} ({{ user.receive_user.username }})
                            </div>
                        </figure>
                        {% empty %}
                        <span class="description">기다리고 있는 친구 요청이 없어요.<br>오른쪽 상단의 +버튼을 통해 친구 요청을 할 수 있어요.</span>
                        {% endfor %}
                    </div>
                </div>
                
                <div>
                    <p class="subtitle">나에게 온 친구 요청</p>
                    <div id="request_to_me">
                        <!--나에게 온 친구 요청의 id는 "to_me" + uid로 설정-->
                        {% for user in request_to_me %}
                        <figure id="to_me{{ user.send_user.uid }}" style="display: block">
                            <div>
                                {% if user.send_user.image %}
                                <img src="{{ user.send_user.image.url }}"/>
                                {% else %}
                                <img src="{% static 'images/user2_icon.png' %}"/>
                                {% endif %}
                                &nbsp;<span class="name">{{ user.send_user.name }} ({{ user.send_user.username }})</span>
                                <div class="float-right">
                                    <button class="request_accept_btn" onclick = "doAccept(this.parentNode.parentNode.parentNode.id)">수락</button>
                                    <button class="request_reject_btn" onclick = "doDelete(this.parentNode.parentNode.parentNode.id)">거절</button>
                                </div>
                            </div>
                        </figure>
                        {% empty %}
                        <span class="description">아직 친구 요청 소식이 없어요.</span>
                        {% endfor %}
                    </div>

                    <form id="request_to_me_form" method="POST" style="display:none">
                        {% csrf_token %}
                        <input id="send_uid" name="send_uid" value="" type="number"/>
                        <input id="receive_uid" name="receive_uid" value="" type="number"/>
                    </form>
                </div>
            </div>

            <div class="overlay"></div>
            
            <!--친구 조회-->
            <div id="inquire" class="flex-item">
                <p class="subtitle">친구 조회</p>
                <div id="friend_inquire">
                    {% if friend %}
                    <div id="friend_search_btn" class="float-right">
                        <form id="form_search_name" method="GET" action="{% url 'searchFriend' %}">
                            {% csrf_token %}
                            <input id="friend_name" name="friend_name" type="text" placeholder="친구 이름을 입력하세요" value="{{ search_name }}" onKeypress="javascript:if(event.keyCode==13) {document.getElementById('form_search_name').submit();}"/>
                        </form>
                        <img class="friend_search_btn" src="{% static 'images/search.png' %}" onclick="document.getElementById('form_search_name').submit();"/>
                    </div>
                    <br>
                    <br>
                    {% endif %}
                    <div id="friends_list">
                        <!--친구 조회의 id는 "friend" + uid로 설정-->
                        {% for user in friend %}
                            <figure id="friend{{ user.uid }}">
                                <div>
                                    {% if user.image %}
                                    <img src="{{ user.image.url }}"/>
                                    {% else %}
                                    <img src="{% static 'images/user2_icon.png' %}"/>
                                    {% endif %}
                                    &nbsp;{{ user.name }} ({{ user.username }})
                                </div>
                            </figure>
                        {% endfor %}
                        {% if not friend %}
                        <span class="description">친구 목록에 친구가 없습니다.</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block js %}
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript"> //Swiper를 위한 js 코드
    var mySwiper = new Swiper('.swiper-container', {
        slidesPerView: 4,   //한 화면에 보여질 슬라이드 개수
        slidesPerGroup: 4,  //슬라이드 넘길 때 이동 개수
        spaceBetween: 30,   //슬라이드 간 margin 값
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {   //페이지 매기기
            el: '.swiper-pagination',
            type: 'bullets',
            clickable: true,
        },
        breakpoints: {      //반응형 설정
            1500: {
                slidesPerView: 5,   
                slidesPerGroup: 5,
            },
            1350: {
                slidesPerView: 4,   
                slidesPerGroup: 4,  
            },
            1180: {
                slidesPerView: 3,
                slidesPerGroup: 3,
            },
            850: {
                slidesPerView: 2,
                slidesPerGroup: 2,
            },
            0: {
                slidesPerView: 1,
                slidesPerGroup: 1,
            }
        },
    });
</script>
<script type="text/javascript">
    //해당 메뉴항목이 선택됐음을 나타냄
    document.getElementById('nav_friendgroup').classList.add('active');

    //그룹 수정 버튼 누르면 수정하기/삭제하기 버튼 보여주기
    function groupsetting(id) {
        var dom = document.getElementById(id);
        dom.getElementsByClassName("front")[0].style="display:none;";
        dom.getElementsByClassName("back")[0].style="display:block;";
        dom.classList.add("group_setting_mode");
    }
    //그룹 수정모드에서 뒤로가기 버튼 누르면 그룹 정보 보여주기
    function groupback(id) {
        var dom = document.getElementById(id);
        dom.getElementsByClassName("front")[0].style="display:block;";
        dom.getElementsByClassName("back")[0].style="display:none;";
        dom.classList.remove("group_setting_mode");
    }
    //그룹 삭제하기
    function groupdelete(id) {  
        document.getElementById("group_gid").value = id.substring(5,);
        if (confirm("정말 그룹을 삭제하시겠습니까?")) {    //confirm 창을 통해 재확인
            document.getElementById("form_group_delete").submit();
        }
    }

    //창 띄우기/끄기(그룹 추가 창, 친구 검색 창)
    function doDisplay(id) {
        var dom = document.getElementById(id);
        if (dom.style.display == 'none') {
            dom.style.display = 'block';
        }
        else {
            dom.style.display = 'none';
        }
    }

    //거절 버튼 누르면 해당 친구 신청 없애기
    function doDelete(id) {
        var user_name = document.getElementById(id).getElementsByClassName('name')[0].innerText;
        if (confirm(user_name + "님의 친구요청을 거절하시겠습니까?")) {    //confirm 창을 통해 재확인
            
            document.getElementById("send_uid").value = id.substring(5,);            
            document.getElementById("receive_uid").value = "{{ user.uid }}";
            document.getElementById("request_to_me_form").action = "{% url 'rejectFriend' %}";
            document.getElementById("request_to_me_form").submit();   //폼 제출
        }
    }

    //수락 버튼 누르면 해당 친구 신청 수락하기
    function doAccept(id) {
        var user_name = document.getElementById(id).getElementsByClassName('name')[0].innerText;
        alert(user_name + "님과 친구가 되셨습니다.");

        document.getElementById("send_uid").value = id.substring(5,);
        document.getElementById("receive_uid").value = "{{ user.uid }}";
        document.getElementById("request_to_me_form").action = "{% url 'acceptFriend' %}";
        document.getElementById("request_to_me_form").submit();   //폼 제출
    }

    //친구 추가 버튼 눌렀을 때 서버에 요청
    function add_friend_request(id) {        //id: request_friend + uid
        uid = id.substring(14,);
        document.getElementById("uid_for_friend").value = uid;
        document.getElementById("form_add_tempfriend").submit();
    }
    
    //그룹 추가에서 멤버로 체크한 인원수 나타내기
    function getCheckedCount() {
        // 선택된 목록 가져오기
        const query = 'input[name="group_member"]:checked';
        const selectedElements = document.querySelectorAll(query);

        // 선택된 목록의 갯수 세기
        const selectedElementsCnt = selectedElements.length;

        // 출력
        document.getElementById('group_member_count').innerText = selectedElementsCnt + "명";
    }

    //그룹 추가 폼 제출할 때 유효성 검사하기
    function checkValidation_addGroup() {
        //그룹명 작성했는지 확인
        if (! document.getElementById('input_group_name').value) {
            alert("그룹명을 작성해주세요.");
            return;
        }
        
        //멤버 1명 이상 선택했는지 확인
        if (document.getElementById('group_member_count').innerText == "0명") {
            alert("멤버를 선택해주세요.");
            return;
        }
        
        //이상 없으면 폼 제출
        document.getElementById('form_add_group').submit();
    }

    {% if search_username or search_result %}
    //친구요청을 위한 결과를 서버에게 받은 경우, 해당 모달창을 보여줌
    doDisplay('friend_search_modal');
    {% endif %}
</script>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(function() {
        $("#group_add_btn").click(function(){
            $(".overlay").show();
        });
    })

    $(function() {
        $("#friend_add_btn").click(function(){
            $(".overlay").show();
        });
    })

    $(function() {
        $(".modal_close").click(function(){
            $(".overlay").hide();
        });
    })

    {% if search_username or search_result %}
        $(".overlay").show();
    {% endif %}
</script>
{% endblock %}

