{% extends 'base.html' %}
{% load static %}

{% block css %}

<style type = "text/css">
    main {
        margin-top: 30px;
        margin-left: 350px;
    }
    #header {
        margin-right: -55px;
        margin-bottom: 50px;
    }

    /* 결과 스케줄 */
    #result_schedule {
        float: left;
        margin-left: 35%;
    }
    #result_schedule table {
        width: 300px;
        height: 400px;
    }
    #result_schedule table th,
    #result_schedule table td {
        font-size: 0.8rem;
        text-align-last: center;
        border-left: 1px solid #E2D7F1;
        border-bottom: 1px solid #E2D7F1;
    }
    #result_schedule thead th {
        border-top: 1px solid #E2D7F1;
        border-bottom: 1.5px solid #E2D7F1;
    }
    #result_schedule table td {
        background-color:#62D77D;
        opacity: 0.2;
    }
    #result_schedule .time {
        border-left: none;
    }
    #result_schedule .X {
        background-color:#FF8683;
    }
    #result_schedule .O {
        background-color:#62D77D;
    }

    /* 범례 */
    #result_schedule #legend {
        margin-top: 20;
        margin-left: 70;
    }
    #result_schedule #legend div {
        margin-top: 10;
        position: relative;
    }
    #result_schedule #legend #legend_color1 {
        width: 30px;
        height: 100px;
        display: inline-block;
        margin-right: 5;
        border: 1px solid #00000022;
        background: linear-gradient( to bottom, #62D77D, #62D77D22);
        
    }
    #result_schedule #legend #legend_color2 {
        width: 30px;
        height: 20;
        display: inline-block;
        margin-right: 5;
        border: 1px solid #00000055;
        background-color: white;
        
    }
    #result_schedule #legend .legend_text {
        font-size: 10px;
        position: absolute;
        width: max-content;
    }
    #result_schedule #legend .legend_text.end {
        bottom: 1;
    }

    .star-icon {
        width: 20px;
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
    div#title {
        margin-top: 50px;
    }

    .previous_button{
        border: 0;
        border-radius: 5px;
        outline: 0;
        background-color: #8E44AD;
        color: #ffffff;
        font-size: 10pt;
        padding: 5px;        
        float: right;
        margin-right: 15%;
    }

    .previous_button:visited{
        color:white;
    }
    .previous_button:hover{
        color: white;
        cursor: pointer;
        text-decoration: none;
        background-color: rgba(142,68,173,0.8);
    }

    .api{
        margin-left: 30%;
        width: 800px;
        height: 550px;
        
    }

    .info_btn{
        float: left;
    }


    .btns {
        width: 130px;
    }
    .food_btn, .cafe_btn, .movie_btn, .parking_btn, .accomodation_btn{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: #c0c0c0;
    }
    .info_btn .active {
        background-color: #33AD8E;
    }

    #map{
        float: left;
        width: 600px;
        height:500px;
        margin-left: 50px;
    }
</style>
{% endblock %}

{% block main-content %}
<main>
    <div id="header" class="d-flex justify-content-between">
        <div>
            <img class="icon" src="{% static 'images/star.png' %}"/>
            <span>탐색 결과 - STEP 4</span>
        </div>
        <a class = "previous_button" href="{% url 'meet_step3_location_skipped' %}">&lt;Previous</a>
    </div>
    
    <div id="result_schedule">
        <table>
            <thead>
                <tr>
                    <th class="time"></th>
                    <th class="day">월</th>
                    <th class="day">화</th>
                    <th class="day">수</th>
                    <th class="day">목</th>
                    <th class="day">금</th>
                    <th class="day">토</th>
                    <th class="day">일</th>
                </tr>
            </thead>
            <tbody>
                <!--schedule에 있는 id와 달라야함-->
                <tr>
                    <th class="time" id="0900" rowspan="2">9</th>
                    <td id="u_MON0900"></td>
                    <td id="u_TUE0900"></td>
                    <td id="u_WED0900"></td>
                    <td id="u_THU0900"></td>
                    <td id="u_FRI0900"></td>
                    <td id="u_SAT0900"></td>
                    <td id="u_SUN0900"></td>
                </tr>
                <tr>
                    <td id="u_MON0930"></td>
                    <td id="u_TUE0930"></td>
                    <td id="u_WED0930"></td>
                    <td id="u_THU0930"></td>
                    <td id="u_FRI0930"></td>
                    <td id="u_SAT0930"></td>
                    <td id="u_SUN0930"></td>
                </tr>
                <tr>
                    <th class="time" id="1000" rowspan="2">10</th>
                    <td id="u_MON1000"></td>
                    <td id="u_TUE1000"></td>
                    <td id="u_WED1000"></td>
                    <td id="u_THU1000"></td>
                    <td id="u_FRI1000"></td>
                    <td id="u_SAT1000"></td>
                    <td id="u_SUN1000"></td>
                </tr>
                <tr>
                    <td id="u_MON1030"></td>
                    <td id="u_TUE1030"></td>
                    <td id="u_WED1030"></td>
                    <td id="u_THU1030"></td>
                    <td id="u_FRI1030"></td>
                    <td id="u_SAT1030"></td>
                    <td id="u_SUN1030"></td>
                </tr>
                <tr>
                    <th class="time" id="1100" rowspan="2">11</th>
                    <td id="u_MON1100"></td>
                    <td id="u_TUE1100"></td>
                    <td id="u_WED1100"></td>
                    <td id="u_THU1100"></td>
                    <td id="u_FRI1100"></td>
                    <td id="u_SAT1100"></td>
                    <td id="u_SUN1100"></td>
                </tr>
                <tr>
                    <td id="u_MON1130"></td>
                    <td id="u_TUE1130"></td>
                    <td id="u_WED1130"></td>
                    <td id="u_THU1130"></td>
                    <td id="u_FRI1130"></td>
                    <td id="u_SAT1130"></td>
                    <td id="u_SUN1130"></td>
                </tr>
                <tr>
                    <th class="time" id="1200" rowspan="2">12</th>
                    <td id="u_MON1200"></td>
                    <td id="u_TUE1200"></td>
                    <td id="u_WED1200"></td>
                    <td id="u_THU1200"></td>
                    <td id="u_FRI1200"></td>
                    <td id="u_SAT1200"></td>
                    <td id="u_SUN1200"></td>
                </tr>
                <tr>
                    <td id="u_MON1230"></td>
                    <td id="u_TUE1230"></td>
                    <td id="u_WED1230"></td>
                    <td id="u_THU1230"></td>
                    <td id="u_FRI1230"></td>
                    <td id="u_SAT1230"></td>
                    <td id="u_SUN1230"></td>
                </tr>
                <tr>
                    <th class="time" id="1300" rowspan="2">1</th>
                    <td id="u_MON1300"></td>
                    <td id="u_TUE1300"></td>
                    <td id="u_WED1300"></td>
                    <td id="u_THU1300"></td>
                    <td id="u_FRI1300"></td>
                    <td id="u_SAT1300"></td>
                    <td id="u_SUN1300"></td>
                </tr>
                <tr>
                    <td id="u_MON1330"></td>
                    <td id="u_TUE1330"></td>
                    <td id="u_WED1330"></td>
                    <td id="u_THU1330"></td>
                    <td id="u_FRI1330"></td>
                    <td id="u_SAT1330"></td>
                    <td id="u_SUN1330"></td>
                </tr>
                <tr>
                    <th class="time" id="1400" rowspan="2">2</th>
                    <td id="u_MON1400"></td>
                    <td id="u_TUE1400"></td>
                    <td id="u_WED1400"></td>
                    <td id="u_THU1400"></td>
                    <td id="u_FRI1400"></td>
                    <td id="u_SAT1400"></td>
                    <td id="u_SUN1400"></td>
                </tr>
                <tr>
                    <td id="u_MON1430"></td>
                    <td id="u_TUE1430"></td>
                    <td id="u_WED1430"></td>
                    <td id="u_THU1430"></td>
                    <td id="u_FRI1430"></td>
                    <td id="u_SAT1430"></td>
                    <td id="u_SUN1430"></td>
                </tr>
                <tr>
                    <th class="time" id="1500" rowspan="2">3</th>
                    <td id="u_MON1500"></td>
                    <td id="u_TUE1500"></td>
                    <td id="u_WED1500"></td>
                    <td id="u_THU1500"></td>
                    <td id="u_FRI1500"></td>
                    <td id="u_SAT1500"></td>
                    <td id="u_SUN1500"></td>
                </tr>
                <tr>
                    <td id="u_MON1530"></td>
                    <td id="u_TUE1530"></td>
                    <td id="u_WED1530"></td>
                    <td id="u_THU1530"></td>
                    <td id="u_FRI1530"></td>
                    <td id="u_SAT1530"></td>
                    <td id="u_SUN1530"></td>
                </tr>
                <tr>
                    <th class="time" id="1600" rowspan="2">4</th>
                    <td id="u_MON1600"></td>
                    <td id="u_TUE1600"></td>
                    <td id="u_WED1600"></td>
                    <td id="u_THU1600"></td>
                    <td id="u_FRI1600"></td>
                    <td id="u_SAT1600"></td>
                    <td id="u_SUN1600"></td>
                </tr>
                <tr>
                    <td id="u_MON1630"></td>
                    <td id="u_TUE1630"></td>
                    <td id="u_WED1630"></td>
                    <td id="u_THU1630"></td>
                    <td id="u_FRI1630"></td>
                    <td id="u_SAT1630"></td>
                    <td id="u_SUN1630"></td>
                </tr>
                <tr>
                    <th class="time" id="1700" rowspan="2">5</th>
                    <td id="u_MON1700"></td>
                    <td id="u_TUE1700"></td>
                    <td id="u_WED1700"></td>
                    <td id="u_THU1700"></td>
                    <td id="u_FRI1700"></td>
                    <td id="u_SAT1700"></td>
                    <td id="u_SUN1700"></td>
                </tr>
                <tr>
                    <td id="u_MON1730"></td>
                    <td id="u_TUE1730"></td>
                    <td id="u_WED1730"></td>
                    <td id="u_THU1730"></td>
                    <td id="u_FRI1730"></td>
                    <td id="u_SAT1730"></td>
                    <td id="u_SUN1730"></td>
                </tr>
                <tr>
                    <th class="time" id="1800" rowspan="2">6</th>
                    <td id="u_MON1800"></td>
                    <td id="u_TUE1800"></td>
                    <td id="u_WED1800"></td>
                    <td id="u_THU1800"></td>
                    <td id="u_FRI1800"></td>
                    <td id="u_SAT1800"></td>
                    <td id="u_SUN1800"></td>
                </tr>
                <tr>
                    <td id="u_MON1830"></td>
                    <td id="u_TUE1830"></td>
                    <td id="u_WED1830"></td>
                    <td id="u_THU1830"></td>
                    <td id="u_FRI1830"></td>
                    <td id="u_SAT1830"></td>
                    <td id="u_SUN1830"></td>
                </tr>
                <tr>
                    <th class="time" id="1900" rowspan="2">7</th>
                    <td id="u_MON1900"></td>
                    <td id="u_TUE1900"></td>
                    <td id="u_WED1900"></td>
                    <td id="u_THU1900"></td>
                    <td id="u_FRI1900"></td>
                    <td id="u_SAT1900"></td>
                    <td id="u_SUN1900"></td>
                </tr>
                <tr>
                    <td id="u_MON1930"></td>
                    <td id="u_TUE1930"></td>
                    <td id="u_WED1930"></td>
                    <td id="u_THU1930"></td>
                    <td id="u_FRI1930"></td>
                    <td id="u_SAT1930"></td>
                    <td id="u_SUN1930"></td>
                </tr>
                <tr>
                    <th class="time" id="2000" rowspan="2">8</th>
                    <td id="u_MON2000"></td>
                    <td id="u_TUE2000"></td>
                    <td id="u_WED2000"></td>
                    <td id="u_THU2000"></td>
                    <td id="u_FRI2000"></td>
                    <td id="u_SAT2000"></td>
                    <td id="u_SUN2000"></td>
                </tr>
                <tr>
                    <td id="u_MON2030"></td>
                    <td id="u_TUE2030"></td>
                    <td id="u_WED2030"></td>
                    <td id="u_THU2030"></td>
                    <td id="u_FRI2030"></td>
                    <td id="u_SAT2030"></td>
                    <td id="u_SUN2030"></td>
                </tr>
                <tr>
                    <th class="time" id="2100" rowspan="2">9</th>
                    <td id="u_MON2100"></td>
                    <td id="u_TUE2100"></td>
                    <td id="u_WED2100"></td>
                    <td id="u_THU2100"></td>
                    <td id="u_FRI2100"></td>
                    <td id="u_SAT2100"></td>
                    <td id="u_SUN2100"></td>
                </tr>
                <tr>
                    <td id="u_MON2130"></td>
                    <td id="u_TUE2130"></td>
                    <td id="u_WED2130"></td>
                    <td id="u_THU2130"></td>
                    <td id="u_FRI2130"></td>
                    <td id="u_SAT2130"></td>
                    <td id="u_SUN2130"></td>
                </tr>
            </tbody>
        </table>

        <div id="legend">
            <div>
                <span id="legend_color1"></span>
                <span class="legend_text">모두들 원하는 시간대예요!</span>
                <span class="legend_text end">약속이 불가능한 팀원은 없어요!</span>
            </div>
            <div>
                <span id="legend_color2"></span>
                <span class="legend_text end">약속이 불가능한 팀원이 있어요</span>
            </div>
        </div>
    </div>
    
    </section>
</main>
{% endblock %}

{% block js %}
<script type="text/javascript">
    //해당 메뉴항목이 선택됐음을 나타냄
    document.getElementById('step4').classList.add('active');
    
    function show_member_schedule() {   //멤버들의 취합한 스케줄 정보를 보여줌
        {% for item in members_schedules %}
        if ({{ item.value }} > 0) { //약속 선호 유형이면
            
            document.getElementById("u_" + "{{ item.day }}" + "{{ item.time }}").classList.add('O');
            document.getElementById("u_" + "{{ item.day }}" + "{{ item.time }}").style = "opacity:{{item.value}}";
        }
        if ({{ item.value }} < 0) { //약속 불가 유형이면
            document.getElementById("u_" + "{{ item.day }}" + "{{ item.time }}").style = "background-color:#FFF;";
        }
        {% endfor %}
    }

    show_member_schedule();
</script>
{% endblock %}