{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'crudapp/css/edit.css' %}"/>
{% endblock %}

{% block content %}
<div class="login-page">
    <div class="form">
        <form class="login-form" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <button type="submit">login</button>
            <p class="message">Not registered? <a href="{% url 'signup' %}">Create an account</a></p>
        </form>
    </div>
</div>
{% endblock %}