{% extends 'base.html' %}
{% block style %}
<style type="text/css">
    main {
        width: fit-content;
        background-color: white;
        margin: 150px auto 0px;
        padding: 20px 100px 60px;
        border-radius: 20px;
        clear: right;
    }
    #loginForm {
        font-size: 1.5rem;
    }
    #loginForm .element {
        margin-bottom: 20px;
    }
    #loginForm label[for="username"] {
        width: 100px;
        padding: 0 30px;
    }
    #loginForm input[type="text"], #loginForm input[type="password"] {
        line-height: normal;
        padding: 5px 15px;
        width: 200px;
        border-style: solid;
        border-radius: 10px;
    }
    #loginForm input[type="submit"] {
        float: right;
    }
</style>
{% endblock %}

{% block content %}
<main>
    <h1>Login!</h1>

    <form id="loginForm" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">ID</label>
        <input name="username" type="text" value="" placeholder="아이디를 입력해주세요"/>
        <br><br>

        <label for="password">Password</label>
        <input name="password" type="password" value="" placeholder="비밀번호를 입력해주세요">
        <br><br>
        
        <input type="submit" value="Login"/>
    </form>
</main>
{% endblock %}
