#title h2 {
    text-align: center;
    padding: 30 0 30 0;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;   
}
.item {
    width: 300px;
    margin-bottom: 40px;
    cursor:pointer;
}
.review_content {
    background-color: #fff;
    box-shadow: 1px 1px 5px #333;
    -webkit-box-shadow:1px 1px 5px #333;
    -moz-box-shadow:1px 1px 5px #333;
}
.food_image{
    display: block;
    max-width: 300px;
    max-height: 200px;
    background: #000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.food_description {
    margin: 10 25 0 25;
}
.restaurant {
    display: inline-block;
    font-weight: bold;
}
.rating {
    display: inline-block;
    font-size: 0.8rem;
    margin-top: 3px;
}